body {
	background-color: #EEEEEC;
	color: #2E3436;
	margin: 0;
	padding: 0;
}
body > main,
body > header {
	width: 100%;
	margin: 0;
	padding: 0.5em;
}
body > header {
	background-color: #062747;
	color: #EEEEEC;
}
body > main > section,
body > header > section {
	width: 100%;
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	padding: 0;
}
body > header > section > select {
	float: right;
}
body > header > section:after {
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
body > main > section > h1 {
	text-align: center;
	font-size: 2em;
}
body > main > section > article {
	background-color: #F3F3F2;
	border: 1px solid #CCCCCC;
	padding: 0.5em;
	margin: 0.5em;
}
body > main > section > article > main > a > h2 {
	font-size: 1em;
}
body > main > section > article > main > span {
	width: 16px;
	height: 18px;
	border-radius: 50%;
	padding-left: 4px;
	padding-top: 2px;
	color: white;
}
.octicon-x {
	background-color: red;
}
.octicon-check {
	background-color: green;
}
a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: #2E3436;
}